In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_excel('./params.xlsx',sheet_name='pdb file')
df.head()

,Unnamed: 0,atom number,Residue name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,atom_name
0,ATOM,1,OFS,PDB,C,1,-56.47,44.20,-18.03,1,20,O1-
1,ATOM,2,CFR,PDB,C,1,-56.37,43.00,-18.35,1,20,C
2,ATOM,3,OFT,PDB,C,1,-56.36,42.55,-19.51,1,20,O1-
3,ATOM,4,CFQ,PDB,C,1,-56.23,41.99,-17.19,1,20,C
4,ATOM,5,CFP,PDB,C,1,-57.62,41.49,-16.79,1,20,C

In [6]:
(df['Residue name'].nunique())

150

In [14]:
numbers = []
i = 1
j = 1
for row in df.iterrows():
    if row[1][11] == 'O1-':
        numbers.append(i)
        i += 1
    else:
        numbers.append(j)
        j += 1
df['av_atom_num'] = np.asarray(numbers)

In [15]:
df.head(15)

,Unnamed: 0,atom number,Residue name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,atom_name,av_atom_num
0,ATOM,1,OFS,PDB,C,1,-56.47,44.20,-18.03,1,20,O1-,1
1,ATOM,2,CFR,PDB,C,1,-56.37,43.00,-18.35,1,20,C,1
2,ATOM,3,OFT,PDB,C,1,-56.36,42.55,-19.51,1,20,O1-,2
3,ATOM,4,CFQ,PDB,C,1,-56.23,41.99,-17.19,1,20,C,2
4,ATOM,5,CFP,PDB,C,1,-57.62,41.49,-16.79,1,20,C,3
5,ATOM,6,CFK,PDB,C,1,-55.32,40.78,-17.48,1,20,C,4
6,ATOM,7,CFL,PDB,C,1,-53.81,41.08,-17.44,1,20,C,5
7,ATOM,8,CFM,PDB,C,1,-53.45,42.11,-18.53,1,20,C,6
8,ATOM,9,OFO,PDB,C,1,-53.38,41.71,-19.71,1,20,O1-,3
9,ATOM,10,OFN,PDB,C,1,-53.36,43.29,-18.15,1,20,O1-,4
10,ATOM,11,CFF,PDB,C,1,-53.04,39.74,-17.59,1,20,C,7
11,ATOM,12,CFG,PDB,C,1,-51.51,39.81,-17.38,1,20,C,8
12,ATOM,13,CFH,PDB,C,1,-50.88,40.62,-18.52,1,20,C,9
13,ATOM,14,OFJ,PDB,C,1,-50.87,40.11,-19.67,1,20,O1-,5
14,ATOM,15,OFI,PDB,C,1,-50.52,41.78,-18.23,1,20,O1-,6

In [18]:
path = './params.xlsx'
from openpyxl import load_workbook
writer = pd.ExcelWriter(path, engine = 'openpyxl')
book = load_workbook(path)
writer.book = book
df.to_excel(writer, sheet_name = 'atom nos',index=False)
writer.save()
writer.close()

In [21]:
for row in df.iterrows():
    print(row)
    break

(0, Unnamed: 0       ATOM
atom number         1
Residue name      OFS
Unnamed: 3        PDB
Unnamed: 4          C
Unnamed: 5          1
Unnamed: 6     -56.47
Unnamed: 7       44.2
Unnamed: 8     -18.03
Unnamed: 9          1
Unnamed: 10        20
atom_name         O1-
av_atom_num         1
Name: 0, dtype: object)

 .dat file format: RESIDUE ATOM CHARGE RADIUS EPSILON

In [49]:
X = pd.DataFrame(columns=['Residue','Atom','Charge','Radius','Epsilon','Atom_name'])
carboxyl = {'Atom':'C','Charge':0.27,'Epsilon':1.623473274,'Radius':0.377270427}

In [33]:
O = {'Atom':'O1-','Charge':-0.635,'Epsilon':6.900176589,'Radius':0.29474215}
CH = {'Atom':'C','Charge':0,'Epsilon':0.379557318,'Radius':0.563384105}
CH2 = {'Atom':'C','Charge':0,'Epsilon':1.642169424,'Radius':0.456884852}

In [52]:
charges = []
atoms = []
epsilons = []
residues = []
radii = []
names = []
for row in df.iterrows():
    atoms.append(row[1][12])
    if row[1][11] == 'C':
        names.append('C')
        if row[1][12]%3 == 2:
            
            charges.append(CH['Charge'])
            epsilons.append(CH['Epsilon'])
            radii.append(CH['Radius'])
            residues.append(row[1][2])
        elif row[1][12]%3 == 1:
            #atoms.append(CH2['Atom'])
            charges.append(CH2['Charge'])
            epsilons.append(CH2['Epsilon'])
            radii.append(CH2['Radius'])
            residues.append(row[1][2])
        else:
            #atoms.append(carboxyl['Atom'])
            charges.append(carboxyl['Charge'])
            epsilons.append(carboxyl['Epsilon'])
            radii.append(carboxyl['Radius'])
            residues.append(row[1][2])
    else:
        names.append('O')
        #atoms.append(O['Atom'])
        charges.append(O['Charge'])
        epsilons.append(O['Epsilon'])
        radii.append(O['Radius'])
        residues.append(row[1][2])

In [53]:
X = pd.DataFrame(data=np.transpose(np.asarray([residues,atoms,charges,radii,epsilons,names])),columns=X.columns)

In [59]:
X.head()

  Residue Atom  Charge       Radius      Epsilon Atom_name
0     OFS    1  -0.635   0.29474215  6.900176589         O
1     CFR    1       0  0.456884852  1.642169424         C
2     OFT    2  -0.635   0.29474215  6.900176589         O
3     CFQ    2       0  0.563384105  0.379557318         C
4     CFP    3    0.27  0.377270427  1.623473274         C

In [45]:
df.head()

,Unnamed: 0,atom number,Residue name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,atom_name,av_atom_num
0,ATOM,1,OFS,PDB,C,1,-56.47,44.20,-18.03,1,20,O1-,1
1,ATOM,2,CFR,PDB,C,1,-56.37,43.00,-18.35,1,20,C,1
2,ATOM,3,OFT,PDB,C,1,-56.36,42.55,-19.51,1,20,O1-,2
3,ATOM,4,CFQ,PDB,C,1,-56.23,41.99,-17.19,1,20,C,2
4,ATOM,5,CFP,PDB,C,1,-57.62,41.49,-16.79,1,20,C,3

In [63]:
for i in range(len(X)):
    if X.iloc[i,1] == '89':
        print(X.iloc[i,:])
        X.iloc[i,3] = 0.456884852
        X.iloc[i,4] = 1.642169424
        print(X.iloc[i,:])
    elif X.iloc[i,1] == '88':
        print(X.iloc[i,:])
        X.iloc[i,3] = 0.456884852
        X.iloc[i,4] = 1.642169424
        print(X.iloc[i,:])

Residue              CAA
Atom                  88
Charge                 0
Radius       0.456884852
Epsilon      1.642169424
Atom_name              C
Name: 145, dtype: object
Residue           CAA
Atom               88
Charge              0
Radius       0.456885
Epsilon       1.64217
Atom_name           C
Name: 145, dtype: object
Residue              CAB
Atom                  89
Charge                 0
Radius       0.563384105
Epsilon      0.379557318
Atom_name              C
Name: 146, dtype: object
Residue           CAB
Atom               89
Charge              0
Radius       0.456885
Epsilon       1.64217
Atom_name           C
Name: 146, dtype: object

In [64]:
for i in range(len(X)):
    if X.iloc[i,5] == 'C':
        if X.iloc[i,1] == '2':
            print(X.iloc[i,:])
            X.iloc[i,3] = 0.563141697
            X.iloc[i,4] = 0.381522562
            print(X.iloc[i,:])
        elif X.iloc[i,1] == '3':
            print(X.iloc[i,:])
            X.iloc[i,3] = 0.420689613
            X.iloc[i,4] = 3.468601893
            print(X.iloc[i,:])

Residue              CFQ
Atom                   2
Charge                 0
Radius       0.563384105
Epsilon      0.379557318
Atom_name              C
Name: 3, dtype: object
Residue           CFQ
Atom                2
Charge              0
Radius       0.563142
Epsilon      0.381523
Atom_name           C
Name: 3, dtype: object
Residue              CFP
Atom                   3
Charge              0.27
Radius       0.377270427
Epsilon      1.623473274
Atom_name              C
Name: 4, dtype: object
Residue          CFP
Atom               3
Charge          0.27
Radius       0.42069
Epsilon       3.4686
Atom_name          C
Name: 4, dtype: object

In [65]:
X.head()

  Residue Atom  Charge       Radius      Epsilon Atom_name
0     OFS    1  -0.635   0.29474215  6.900176589         O
1     CFR    1       0  0.456884852  1.642169424         C
2     OFT    2  -0.635   0.29474215  6.900176589         O
3     CFQ    2       0     0.563142     0.381523         C
4     CFP    3    0.27      0.42069       3.4686         C

In [66]:
X.drop(columns='Atom_name',inplace=True)
X.to_csv('./dat_file.csv',index=False)